@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-brand: #0038df;
  --text-primary: #444444;
  --gradient-primary-start: #0038df;
  --gradient-primary-end: #001e79;
  --text-secondary: #4a4a4a;
  --border-color: #d9d9d9;
  --gradient-secondary-start: #255cff;
  --gradient-secondary-end: #0038df;
  --background-light-gray: #c7c7c7;
  --text-tertiary: #949494;
  --medium-gray: #888888;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
